.example-fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}

.flex-item {
    margin-bottom: 15px;
}

.lable-p-10 {
    padding: 10px 0;
}

.md-slider-horizontal {
    min-width: 220px;
}

.flex-container {
    align-items: stretch!important;
}

md-card+md-card {
    margin-top: 20px;
}