@import '~@angular/material/core/theming/all-theme';
// NOTE: Theming is currently experimental and not yet publically released!
body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

@include md-core();
$primary: md-palette($md-deep-purple);
$accent: md-palette($md-amber, A200, A100, A400);
$theme: md-light-theme($primary, $accent);
@include angular-material-theme($theme);
md-card-title i {
    float: right;
}